[user]
	name = Michal Rus
	email = m@michalrus.com
[alias]
	lg  = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date-order
	lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date-order --all
	s = status
	c = diff -M --cached
	d = diff -M
[core]
	safecrlf = false
[color]
	ui = true
[merge]
	conflictstyle = diff3
	defaultToUpstream = true
[push]
	default = nothing
