[user]
	name = Michal Rus
	email = m@michalrus.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date-order
	st = status
	c = diff --cached
	d = diff
[core]
	safecrlf = false
[color]
	ui = true
[merge]
	conflictstyle = diff3
[push]
	default = nothing
