#
# If you don't want to update, say ~/.zshrc, move this file to ~/.mshell-exclude
# and uncomment the following line:
#
#./.zshrc
#
# Especially, if you're not me, exclude these:
#
#./.ssh/authorized_keys.d/*
#
# And remove the keys manually!
#
# Etc.
#
