[general]
accounts = m@michalrus.com

[Account m@michalrus.com]
localrepository = Local
remoterepository = Remote
presynchook  = ionice -c 3 chrt --idle 0 /bin/sh -c 'afew --all --move-mails -v'
postsynchook = ionice -c 3 chrt --idle 0 /bin/sh -c 'exec "$HOME"/.bin/notmuch/imap-postsync'

[Repository Local]
type = Maildir
localfolders = ~/.Maildir

[Repository Remote]
type = Gmail
maxconnections = 2
remoteuser = m@michalrus.com
realdelete = no
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
remotepassfile = ~/.local/secret/offlineimap
folderfilter = lambda foldername: foldername in ['INBOX', '[Gmail]/All Mail', '[Gmail]/Spam', '[Gmail]/Trash', '[Gmail]/Drafts']
nametrans = lambda foldername: re.sub('\s+', '-', re.sub('^\[Gmail\]/', '', foldername)).lower()
