#!/bin/sh

# Copy this file to ~/.dotfiles/setup.local (the same applies to other
# *.example files) and add any commands you want to run on this
# machine, after setting up the symlinks.
#
# An example of safely (with possible backup) building ~/.nanorc
# follows.

baksuffix="$(date +'dotfiles-bak.%Y%m%d-%H%M%S-%N')"

# Include all system `*.nanorc`s in your own one.
nanorc="$HOME/.nanorc"
[ "$(head -n 1 "$nanorc")" = '#.dotfiles-autogen' ] || mv "$nanorc" "$nanorc.$baksuffix"
echo '#.dotfiles-autogen' > "$nanorc"
find /usr/share/nano/ -name '*.nanorc' 2>/dev/null | while read f
  do echo "include \"$f\"" >> "$nanorc" ; done

# To reverse scrolling on all devices:
#   $ echo 'pointer = 1 2 3 5 4 7 6 8 9 10 11 12' >> ~/.Xmodmap
#
# However, to TRULY reverse (in GNOME windows, among others) scrollin
# on a TOUCH device:
#   $ xinput list
#   $ xinput list-props <ID> | grep -i scroll
#   $ xinput set-prop <ID> <PROP-ID> -<previous1> -<previous2>
