window#waybar {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ccc;
    font-size: 11pt;
}

#workspaces button {
    color: #ccc;
    border-radius: 0px;
    border-bottom: 2px solid transparent;
    padding: 0 0.75em;
}

#workspaces button:hover {
}

#workspaces button.visible {
    border-bottom: 2px solid white;
    background-color: rgba(255, 255, 255, 0.05);
}

#workspaces button.urgent {
    border-bottom: 2px solid red;
    background-color: rgba(255, 0, 0, 0.3);
}

label.module {
    padding: 0 0.667em;
}

#tray {
    padding: 0 0.667em;
}

#temperature.critical {
    color: red;
}
