[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=restart-xfce4-power-manager
Comment=
Exec=restart-xfce4-power-manager
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
