[Desktop Entry]
Name=Mtr (8.8.8.8)
Type=Application
Comment=Check connectivity
Terminal=true
Exec="mtr 8.8.8.8"
Icon=network
Categories=ConsoleOnly;System;
GenericName=Traceroute + ping
Keywords=system;network
