@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");

body {
  margin: 1.33em;
  font-family: "Inconsolata", "Lucida Console", monospace;
}

h1 {
  font-weight: normal;
}

a:hover {
  text-decoration: none;
}

.home td {
  padding-bottom: 0.67em;
}

.home span {
  color: #bbb;
}
