[Desktop Entry]
Type=Application
Name=dotfiles-autostart
Exec=sh -c 'exec ~/.config/autostart/dotfiles.sh'
StartupNotify=false
Terminal=false
Hidden=false
