(require 'notmuch)

(setq notmuch-search-oldest-first nil)

(setq notmuch-saved-searches
      '(
	;(:name "inbox" :key "i" :query "tag:inbox" :sort-order oldest-first)
	(:key "i"   :name "inbox"         :query "tag:inbox")
	(:key "f"   :name "flagged"       :query "tag:flagged")
	(:key "d"   :name "drafts"        :query "tag:draft")
	(:key "m"   :name "sent"          :query "tag:sent")
	(:key "t"   :name "trash"         :query "tag:deleted")
	(:key "s"   :name "spam"          :query "tag:spam")
	(:key "nc"  :name "news:coding"   :query "tag:unread and tag:news:coding")
	(:key "nd"  :name "news:design"   :query "tag:unread and tag:news:design")
	(:key "nl"  :name "news:life"     :query "tag:unread and tag:news:life")
	(:key "no"  :name "news:other"    :query "tag:unread and tag:news:other")
	(:key "nq"  :name "news:quora"    :query "tag:unread and tag:news:quora")
	(:key "nx"  :name "news:science"  :query "tag:unread and tag:news:science")
	(:key "ns"  :name "news:security" :query "tag:unread and tag:news:security")
	(:key "nw"  :name "news:world"    :query "tag:unread and tag:news:world")
	))

(add-hook 'notmuch-after-tag-hook (lambda ()
				    (call-process "~/.bin/notmuch/taskbar" nil nil nil)))
