configuration {
  dpi: 192;
  cycle: false;
  scroll-method: 1;
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}

@theme "solarized"

window {
    border-color: rgba(12, 95, 115, 1.0);
    border: 6;
}

* {
  font: "for_editor 12";
}
